{% extends 'layout.html' %}

{% block content %}

    {% if user == "admin" %}
        <p>Signed up users and their saved game data:</p>
        {% if usr_games %}
        <ul>
            {% for user, game in usr_games.items() %}
               <li style="list-style-type:square"><em>{{ user }}:</em>
                    <ul>
                    {% for key, values in game.items() %}<br />
                        <li>Game name: {{ key }}</li>
                        <li>Random values for the game: {{ values[0] }}</li>
                        <li>Actual room: {{ values[1] }}</li>
                        <li>Number of rooms in map: {{ values[2] }}</li>
                    {% endfor %}
                    </ul>
                </li>              
            {% endfor %}
        </ul>
        {% endif %}
 
        <a href="{{ url_for('del_user_dat') }}">Delete all user data</a>
        <br />

    {% else %}

    <h3>You must sign in as an admin to get access to this site!</h3>

    {% endif %}
    
 

{% endblock %}
