{% extends 'layout.html' %}

{% block content %}

    {% if user == "admin" %}
        <p>Signed up users and their saved game data:</p>
        {% if game_data %}
        <ul>
            {% for user, game in game_data.items() %}
               <li><em>{{ user }}:</em> {{ game }}</li>
            {% endfor %}
        </ul>
        {% endif %}
 
        <a href="{{ url_for('del_user_dat') }}">Delete all user data</a>
        <br />

    {% else %}

    <h3>You must sign in as an admin to get access to this site!</h3>

    {% endif %}
    
 

{% endblock %}
